<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]= "''"><img src="../../assets/DP.jpg" alt="Logo" style="width:40px;" class="rounded-pill"></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "'profile'">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "''">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]= "'login'">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  