<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="d-grid col-4 mx-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary gradient-custom">{{lead}}</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split gradient-custom" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li  *ngFor="let ld of leads">
              <a *ngIf="ld !== 'All'; else allLead" class="dropdown-item" (click)="getSelectedLead(ld)">{{ld}}</a></li>
            <ng-template #allLead>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="getSelectedLead('All')">All</a></li>
            </ng-template>
          </ul>
        </div>
      </div>
      <div class="d-grid col-4 mx-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary gradient-custom">{{tech}}</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split gradient-custom" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let tc of techs">
              <a *ngIf="tc !== 'All'; else allTech" class="dropdown-item" (click)="getSelectedTech(tc)">{{tc}}</a></li>
              <ng-template #allTech>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="getSelectedTech('All')">All</a></li>
              </ng-template>
          </ul>
        </div>
      </div>
      <!-- Modal to add value -->
      <div class="d-grid col-4 mx-auto">
          <div class="btn-group">
            <button type="button" (click)="openFormModal()" class="btn btn-secondary gradient-custom">
              Add
            </button>
          </div>  
        <!--form modal-->
        <div
          class="modal fade"
          id="myModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter the values</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <table>
                  <tr>
                    <td><div class="input-group mb-4">
                      <label class="input-group-text" for="firstname">First Name</label>
                      <input [(ngModel)] = "input_firstname" name="lastname" type="text" id="firstname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                    </div></td>
                  </tr>
                  <tr>
                    <td><div class="input-group mb-4">
                      <label class="input-group-text" for="lastname">Last Name</label>
                      <input [(ngModel)] = "input_lastname" name="lastname" type="text" id="lastname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                    </div></td>
                  </tr>
                  <tr>
                    <td><div class="input-group mb-4">
                      <label class="input-group-text" for="technology">Technology</label>
                      <input [(ngModel)] = "input_tech" name="technology" type="text" id="technology" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                    </div></td>
                  </tr>
                  <tr>
                    <td><div class="input-group mb-4">
                      <label class="input-group-text" for="lead">Lead</label>
                      <input [(ngModel)] = "input_lead" name="lead" type="text" id="lead" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                    </div></td>
                  </tr>
                  <tr>
                    <td><div class="input-group mb-4">
                      <label class="input-group-text" for="email">Email</label>
                      <input [(ngModel)] = "input_email" name="email" type="email" id="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                    </div></td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="button" class="btn btn-primary" (click)="submit()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-lg-12">
        <div class="card mb-12">
          <div class="card-body text-center">
            <table class="table">
              <thead class="table-dark">
              <tr>
                <th>Sl No:</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Technology</th>
                <th>Lead</th>
                <th>Email</th>
                <th *ngIf="isAdminView()">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dt of data; index as i">
                <ng-container *ngIf="dt.lead===lead || lead==='All' || dt.technology===tech || tech==='All'">
                  <td>{{i}}</td>
                  <td>{{dt.firstname}}</td>
                  <td>{{dt.lastname}}</td>
                  <td>{{dt.technology}}</td>
                  <td>{{dt.lead}}</td>
                  <td>{{dt.email}}</td>
                  <td *ngIf="isAdminView()"><button class="btn btn-primary btn-block fa-lg gradient-custom" (click) ="delete(dt.email)">Delete</button></td>
                </ng-container>  
              </tr>
              </tbody>
          </table> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
