<div class="example-container">
  
  <!-- Header -->
  <mat-toolbar color="primary" class="example-toolbar">
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top gradient-custom">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <a class="navbar-brand">
            <img src="../../assets/DP.jpg" [routerLink]="'.'" class="rounded-circle" height="50" alt="Avatar" loading="lazy" />
        </a>
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <li>
            <button mat-raised-button>
              <ul class="navbar-nav ms-auto d-flex flex-row">
                <li>
                  <mat-icon>brightness_high</mat-icon>
                </li>
                <li>
                  <mat-slide-toggle color="primary" (click)="toggletheme()" 
                  [checked]="isdarktheme()"></mat-slide-toggle>
                </li>
                <li>
                  <mat-icon>bedtime</mat-icon>
                </li>
              </ul>
            </button>
          </li>
          <li>
            <button *ngIf="isAdmin()" mat-raised-button [color]="isAdminView()? 'warn': 'primary'">
              {{getmode()}} view <mat-slide-toggle color="warn" (click)="toggleview()" 
              [checked]="isAdminView()"></mat-slide-toggle></button>
          </li>
          <li>
            <a mat-raised-button color="primary" [routerLink]="'profile'">Profile</a>
          </li>
          <li>
            <a mat-raised-button color="primary" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </mat-toolbar>

  <!-- Side Navigation -->
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode="over">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'entries'">
          <mat-icon>list</mat-icon>Submissions</a>
        <a mat-list-item [routerLink]="'display/leads'" *ngIf="isAdminView()">
          <mat-icon>assignment_ind</mat-icon>Leads</a>
        <a mat-list-item [routerLink]="'display/vendors'" *ngIf="isAdminView()">
          <mat-icon>contacts</mat-icon>Vendors</a>
        <a mat-list-item [routerLink]="'display/students'" *ngIf="isAdminView()">
          <mat-icon>account_circle</mat-icon>Students</a>
        <a mat-list-item [routerLink]="'display/tabs'" *ngIf="isAdminView()">
          <mat-icon>view_module</mat-icon>Display</a> 
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>
        <div class="container pt-4">
          <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>