<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a [routerLink]="'entries'" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span></a>
          <a [routerLink]="'.'" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-lock fa-fw me-3"></i><span>Submissions</span></a>
          <a [routerLink]="'.'" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-line fa-fw me-3"></i><span>Vendors</span></a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top gradient-custom">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" [routerLink]="'.'">
          <img src="../../assets/lotus.webp" height="25" alt="Logo"
            loading="lazy" />
        </a>
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Icon -->
          <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" [routerLink]="'profile'">
              <i class="fas fa-fill-drip">Profile</i>
            </a>
          </li>
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" (click)="logout()"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">Logout
              <img src="../../assets/DP.jpg" class="rounded-circle"
                height="22" alt="Avatar" loading="lazy" /></a>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">
        <router-outlet></router-outlet>
    </div>
  </main>
  <!--Main layout-->