<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a [routerLink]="'entries'" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Submissions</span></a>
          <a [routerLink]="'display/leads'" *ngIf="isAdminView()" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-lock fa-fw me-3"></i><span>Leads</span></a>
          <a [routerLink]="'display/vendors'" *ngIf="isAdminView()" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-line fa-fw me-3"></i><span>Vendors</span></a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top gradient-custom">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand">
            <img src="../../assets/DP.jpg" [routerLink]="'.'" class="rounded-circle" height="50" alt="Avatar" loading="lazy" />
        </a>
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <li>
            <button *ngIf="mode === 'Admin'; else User" (click)="toggleview()" type="button" class="btn btn-danger">{{mode}}</button>
            <ng-template #User>
              <button (click)="toggleview()" type="button" class="btn btn-success">{{mode}}</button>
            </ng-template>
          </li>
          <li>
            <a class="nav-link hidden-arrow d-flex align-items-center" style="color:white" [routerLink]="'profile'">
              Profile</a>
          </li>
          <li>
            <a class="nav-link hidden-arrow d-flex align-items-center" style="color:white" (click)="logout()"
              role="button" aria-expanded="false">Logout</a>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">
        <router-outlet></router-outlet>
    </div>
  </main>
  <!--Main layout-->